#!/usr/bin/make -f
# -*- makefile -*-

#include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DWITH_TESTS=OFF -DWITH_GUI_TESTS=OFF -DWITH_CXX11=OFF

override_dh_makeshlibs:
	# keepassx only ships plugins
	dh_makeshlibs -X/usr/lib/$(DEB_HOST_MULTIARCH)/keepassx
